
.App {
	background: linear-gradient(-45deg, #cf1259, #e83f21, #3d51a4, #A754DE);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.Header {
  position: absolute;
  left: 15px;
  top: 10px;

  font-family: Nova Round;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #C4C4C4;
  mix-blend-mode: hard-light;
  }

.Footer {
  position: absolute;
  left: 15px;
  bottom: 10px;

  font-family: Nova Round;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #C4C4C4;

  mix-blend-mode: hard-light;
}

